a {
    text-decoration: none;
    box-shadow: none;
    color: #cc5500
}
/* a:hover {
    text-decoration: none;
    box-shadow: 0 1px 0 0 currentColor;
} */

body {
    background: linear-gradient(160deg, #a8a8a8, #ffffff 30em);
    background-size: 500vw 500vh;
    background-repeat: no-repeat;
}